body {
  background-image: url("/assets/bg/bg1.jpg");
  background-size: cover; }

  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
      color: white;
  }

#createLogo {
  position: fixed;
  bottom: 3%;
  right: 3%;
  height: auto;
  width: 15%;
}

.inputBox {
  width: 75%;
  height: 2em;
  border-radius: 5px;
  text-align: center;
  font-family: raleway;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border: 1 solid white;
  box-shadow: none;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

#container {
position: absolute;
left: 30%;
top: 10%;
width: 100%
}

#name {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

#ingredients {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

#instructions {
    width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.headers {
  font-family: raleway;
  font-size: 3em;
  color: white;
}

.mdl-button--fab.mdl-button--colored {
  background: white;
}
