doctype

html
  head
    title EDBL - Digital Cookbook
    link(rel="stylesheet", type:"text/css", href="css/style.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
  
  body
    #logo
      img#logoImg(src="/assets/logo.png")
    #searchRecipe
      input#searchBox(type="text", name="search" value="Search for any ingredient or recipe.")
      
    #randomRecipe
    
    #menu
    
    
